######################
# forward-auth service
######################

# Leave that for Keycloak
DEFAULT_PROVIDER=oidc

# Keycloak client ID when setting up the Keycloak client for our forward auth
PROVIDERS_OIDC_CLIENT_ID=

# Associated Keycloak client secret for that client
PROVIDERS_OIDC_CLIENT_SECRET=

# Random secret
# To generate a strong cookie secret use: openssl rand -hex 32
SECRET=

# Lifetime of the cookie in seconds, 30 days
LIFETIME=2592000

# Possible values: TRACE, DEBUG, INFO, WARN, ERROR, FATAL
LOG_LEVEL=INFO
