##########
# Keycloak
##########

# Choose any user name for your Keycloak admin user
KEYCLOAK_USER=

KEYCLOAK_PASSWORD_FILE=/run/secrets/keycloak

PROXY_ADDRESS_FORWARDING=true

# Possible values: DEBUG, INFO, WARN, ERROR
KEYCLOAK_LOGLEVEL=INFO

# For our postgres database
DB_VENDOR=POSTGRES
DB_ADDR=keycloak_db
DB_PORT=5432
DB_DATABASE=keycloak
DB_USER=keycloak
DB_SCHEMA=public
DB_PASSWORD=password

# not working yet
# KEYCLOAK_FRONTEND_URL=keycloak.${HTPC_DOMAIN}
