# Don't set a password - we don't need one!
WEBPASSWORD=

# Use Cloudflare DNS vis dns-over-https
# To do that, check if the docker_gwbridge ip address is 172.18.0.1
# by running ip -o addr show docker_gwbridge
DNS1=172.18.0.1#5053

# Enable DNS conditional forwarding for device name resolution
CONDITIONAL_FORWARDING=true

# If conditional forwarding is enabled, set the IP of the local network router
CONDITIONAL_FORWARDING_IP=192.168.0.1

# If conditional forwarding is enabled, set the domain of the local network router
CONDITIONAL_FORWARDING_DOMAIN=home.local

# If conditional forwarding is enabled, set the reverse DNS of the local network router (e.g. 0.168.192.in-addr.arpa)
CONDITIONAL_FORWARDING_REVERSE=0.168.192.in-addr.arpa


# No need to change the stuff below

# Enable forwarding of reverse lookups for private ranges
DNS_BOGUS_PRIV=true

# Never forward non-FQDNs
DNS_FQDN_REQUIRED=true

# Enable DNSSEC support
DNSSEC=false
