# You can obtain a claim token to login your server to your plex account by visiting
# https://www.plex.tv/claim
# You ONLY have 5 (five) minutes to start the container after generating a new claim!
PLEX_CLAIM=
