# static configuration for traefik
# You only need to change the "TODO". Then safe as traefik-dynamic.yml

http:
  routers:
    # global wildcard certificates
    # See https://github.com/containous/traefik/issues/5317 or
    # https://www.reddit.com/r/Traefik/comments/e9ubk2/le_wildcard_certificates_on_traefik_v2/
    # TODO: replace example.duckdns.org with your domain (=domain from .env)
    wildcard-certs:
      tls:
        certresolver: "ssl"
        domains:
          - main: "example.duckdns.org"
          - sans:
            - "*.example.duckdns.org"
      service: "noob"
    # global redirect to https
    redirs:
      rule: "hostregexp(`{host:.+}`)"
      entrypoints:
        - "web"
      middlewares:
        - "redirect-to-https"
      service: "noop"
  middlewares:
    auth:
      basicAuth:
        usersFile: "/etc/traefik/userlist.txt"
        # Enable SSO for Organizr - the username will be forwarded
        # See https://github.com/causefx/Organizr/issues/1215
        headerField: "X-Forwarded-User"
    # global redirect to https
    redirect-to-https:
      redirectScheme:
        scheme: "https"
  services:
    # noop service, the URL will be never called
    noop:
      loadBalancer:
        servers:
        - url: "http://127.0.0.1"
